body {
    background: #1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    width: 500px;
    border: 2px solid #ccc;
    padding: 5px;
    background: #fff;
    border-radius: 15px;
}